<app-navbar></app-navbar>

<!-- Layout ADMIN -->
<div class="d-flex" *ngIf="estAdmin(); else checkCommissaire">
  <div class="sidebar-container">
    <app-sidebar-admin></app-sidebar-admin>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #checkCommissaire>
  <div class="d-flex" *ngIf="estCommissaire(); else checkSuperviseur">
    <div class="sidebar-container">
      <app-sidebar-commissaire></app-sidebar-commissaire>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #checkSuperviseur>
  <div class="d-flex" *ngIf="estSuperviseur(); else sansSidebar">
    <div class="sidebar-container">
      <app-sidebar-superviseur></app-sidebar-superviseur>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-template>

<ng-template #sansSidebar>
  <router-outlet></router-outlet>
</ng-template>
